header {
    width: 100%;
    height: 104px;
    background: var(--white-color);
    padding: 24px 300px;
    display: flex;
    align-items: center;
    position: relative; 
    z-index: 2; 
    border-radius: 55px; 
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.nav-separator-line {
    position: absolute;
    top: 104px;
    left: 488px;
    width: 1px;
    height: 40px; 
    background-color: var(--secondary-text-color);
    opacity: 1;
    transform: translateY(-50%);
}

@media (max-width: 1024px) {
    header {
        padding: 24px 50px; 
        border-radius: 0;
    }
    .nav-separator-line {
        display: none; 
    }
}

@media (max-width: 768px) {
    header {
        height: 80px;
        padding: 16px 20px;
    }
}
