.sound-card-section {
    max-width: 1300px;
    margin: 0 auto 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.sound-card {

    width: 100%;
    height: 268px;

    opacity: 1;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sound-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
}

@media (max-width: 1280px) {
    .sound-card-section {
        max-width: 900px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .sound-card-section {
        grid-template-columns: 1fr;
        padding: 0 16px;
    }

    .sound-card {
        height: auto;
        width: 100%;
    }

    .sound-card .card-player {
        width: 90%;
        margin-bottom: 15px;
    }
}